.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__title {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.mdl-layout__header {
    background-color: #FFD520;
}

.mdl-card__media {
    background-color: #6AC4AE;
}

.mdl-color--primary {
    background-color: #FFD520 !important;
}

.mdl-button--accent {
    background-color: #6AC4AE !important;
}

.mdl-button--colored {
    background-color: #FFD520 !important;
}

.mdl-textfield__label:after {
    background-color: #6AC4AE !important;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-5 {
    margin-left: 5px;
}

button[disabled=disabled], button:disabled {
    background-color: #B2B2B2 !important;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.hide-me {
    display: none;
    visibility: hidden;
}

.center {
    max-width: 980px;
}

.height100 {
    height: 100px;
    min-height: 100px;
}

.mdl-data-table {
    font-size: 16px;
}

.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

th.mdl-data-table__cell--non-numeric {
    font-size: 16px;
}

.mdl-textfield__input {
    border-bottom: 2px solid black;
    font-size: 20px;
}

.fontBigger {
    font-size: 16px;
}

a {
    color: #007f7a;
}

a:visited {
    color: #007c97;
}

.highlight-me {
    background-color: #cceff4;
}

.mdl-card--border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fullWidth {
    width: 100%;
}

.logo {
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin-right: 0.8rem;
    display: inline-block;
}

.text-center {
    text-align: center;
}